#Navigator {
    background-color: gold;
}

#Overzicht {
    background-color: rgb(234, 234, 234);
}

#krachten {
    background-color: black;
    color: gold;
}

#Getuigen {
    background-color: gold;
}

#Comics {
    background-color: rgb(234, 234, 234);
}

#Footer {
    background-color: black;
    color: gold;

}