body{
    background-image: url("Fotos/backgroundimage.jpg");
}

.Kader1 {
    background-color: gold;
}

.Kader2 {
    background-color: rgb(234, 234, 234);
}

.Kader3 {
    background-color: black;
}